*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/*INICIO*/
.section-beneficios{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.section-beneficios__box{
    width: 13rem;
    align-self: center;
    justify-content: center;
}
.section-beneficios__box__img{
    width: 12rem;
    transition: width 1s;
}

.section-beneficios__box__title{
    text-align: center;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}
.section-beneficios__box__text{
    text-align: center;
    font-family:'IBM Plex Sans Thai', sans-serif;
}
.section-beneficios2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.section-beneficios2__box{
    width: 13rem;
    align-self: center;
    justify-content: center;
}
.section-beneficios2__box__img{
    width: 12rem;
}
.section-beneficios2__box__title{
    text-align: center;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}
.section-beneficios2__box__text{
    text-align: center;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}
.atajo-RedVerde{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.atajo-RedVerde__1{
    margin-top: 4rem;
    font-size: 1rem;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    text-align: center;
}
.atajo-RedVerde__2{
    margin-top: 1rem;
    text-align: center;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 1.6rem;
}
.box-Boton{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.boton-Link{
    width: 15rem;
    margin: 2rem;
    text-align: center;
    background-color: #ffc107;
    text-decoration: none;
    color: white;
    text-shadow: black 0.1rem 0.1rem;
    transition: color 1s background-color 1s ;
}
.boton-Link:hover{
    color: white;
    background-color: #ffc107cc;
}
.footer{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    background-color: #ffc107;
}
.footer__Box{
    margin-left: 1rem;
}
.footer__Box__1{
    margin-bottom: 0.2rem;
    text-shadow: rgb(0, 0, 0) 0.1rem 0.1rem;
    color: rgb(253, 252, 252);
    font-family:'IBM Plex Sans Thai', sans-serif;
}
.footer__Box__2{
    margin-bottom: 0.2rem;
    text-shadow: rgb(5, 5, 5) 0.1rem 0.1rem;
    color: rgb(253, 253, 253);
    font-family:'IBM Plex Sans Thai', sans-serif;
}
.footer__Redes{
    margin-left: 1rem;
    margin-top: 0.2rem;
}
.footer__Redes__1{
    color:white;
    text-shadow: black 0.1rem 0.1rem;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}
.Redes__2{
    width: 2rem;
}

/*PRODUCTOS*/
.titulo-productos{
    margin-top: 0.5rem;
    background-color: #ffc107;
    height: 5rem;
}
.titulo-productos__1{
    text-align: center;
    color: white;
    text-shadow: black 0.1rem 0.1rem;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    padding: 1rem;
}
.section-ladrillos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: auto;
}
.section-ladrillos__box{
    width: 16rem;
    align-self: center;
    justify-content: center;
}
.section-ladrillos__box__img{
    width: 15rem;
}
.section-ladrillos__box__title{
    text-align: center;
    width: 15rem;
    font-size: 1.2rem;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}
.section-ladrillos__box__text{
    font-size: 1.2rem;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    text-align: center;
    width: 15rem;
}
.section-ladrillos2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: auto;
}
.section-ladrillos2__box{
    width: 16rem;
    align-self: center;
}
.section-ladrillos2__box__img{
    width: 15rem;
}
.section-ladrillos2__box__title{
    text-align: center;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    width: 15rem;
    font-size: 1.2rem;
}
.section-ladrillos2__box__text{
    font-size: 1.2rem;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    text-align: center;
    width: 15rem;
}

/*QUIENES SOMOS*/

.quienessomos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-quienessomos{
    text-align: center;
    color: rgb(158, 231, 84);
    font-family:'IBM Plex Sans Thai', sans-serif;
    font-size: 5rem;
    margin: 1rem;
}
.texto1{
    font-family:'IBM Plex Sans Thai', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.6rem;
    padding-top: 1rem;
    margin: 1rem;
}
.texto1__a{
    text-align: center;
    font-family:'IBM Plex Sans Thai', sans-serif;
    font-size: 1.5rem;
    line-height: 1.6rem;
    padding-top: 1rem;
    margin: 1rem;
}
.texto1__b{
    text-align: center;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 1.5rem;
    line-height: 1.6rem;
    padding-top: 1rem;
    margin: 1rem;
}

/*QUE ES RED VERDE*/

.que-Es-RedVerde{
    margin: 2rem;
}
.que-Es-RedVerde__Titulo{
    text-align: center;
    margin: 1rem;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}
.que-Es-RedVerde__Texto{
    font-family:'IBM Plex Sans Thai', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}
.link-productos{
    text-decoration: none;
    color: white;
}
.section-QueEsRV{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.queEsRV-Title{
    text-align: center;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    margin: 1rem;
}
.section-QueEsRV__box{
    align-self: center;
    width: 20rem;
    margin: 1rem;
}
.section-QueEsRV__box__img{
    width: 20rem;
}
.section-QueEsRV__box__title{
    font-family: 'IBM Plex Sans Thai', sans-serif;
    width: 20rem;
    text-align: center;
}
.section-QueEsRV__box__text{
    width: 20rem;
    text-align: center;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

/*RECICLAR CON NOSOTROS*/

.titulo-reciclarconnosotros{
    color: white;
    width: auto;
    height: 10rem;
    padding: 1rem;
    text-align: center;
    text-shadow: black 0.1rem 0.2rem;
    font-size: 3rem;
    margin-top: 0.5rem;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    background-color:#ffc107;
}
.section-reciclar{
    display: flex;
    flex-direction: column;
}
.section-reciclar__text{
    font-size: 1.2rem;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}
.contacto{
    margin: 1.6rem;
}
.texto3{
    margin: 1rem;
    text-align: left;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-size: 1.5rem;
    line-height: 1.6rem;
    margin: 1.6rem;
}
/*CONTACTO*/
.contacto-Title{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #ffc107;
    height: 5rem;
}
.contacto-Title__1{
    text-align: center;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    color: white;
    text-shadow: black 0.1rem 0.1rem;
    padding: 1rem;
}
.contacto-Box{
    margin: 1.6rem;
}
.contacto-2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1.6rem;
}

/*MEDIA QUERIES*/
@media (min-width: 768px){
    /*INICIO*/

    .section-beneficios{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 1rem;
    }
    .section-beneficios__box{
        width: 13rem;
        height: 20rem;
        align-self: center;
        justify-content: center;
    }
    .section-beneficios__box__img{
        width: 13rem;
    }
    .section-beneficios__box__title{
        text-align: center;
    }
    .section-beneficios__box__text{
        text-align: center;
    }
    .section-beneficios2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 1rem;
    }
    .section-beneficios2__box{
        width: 13rem;
        height: 20rem;
        align-self: center;
        justify-content: space-around;
    }
    .section-beneficios2__box__img{
        width: 12rem;
    }
    .section-beneficios2__box__title{
        text-align: center;
    }
    .section-beneficios2__box__text{
        text-align: center;
    }
    .atajo-RedVerde{
        display: flex;
        flex-direction: column;
    }
    .atajo-RedVerde__1{
        margin-top: 4rem;
        font-size: 1rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        font-size: 1.6rem;
    }
    .atajo-RedVerde__2{
        margin-top: 1rem;
        text-align: center;
        font-size: 2rem;
    }
    .footer{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        background-color: #ffc107;
    }
    .footer__Box{
        margin-left: 1rem;
    }
    .footer__Box__1{
        margin-bottom: 0.2rem;
        text-shadow: rgb(0, 0, 0) 0.1rem 0.1rem;
        color: rgb(253, 252, 252);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .footer__Box__2{
        margin-bottom: 0.2rem;
        text-shadow: rgb(5, 5, 5) 0.1rem 0.1rem;
        color: rgb(253, 253, 253);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .footer__Redes{
        margin-left: 1rem;
        margin-top: 0.2rem;
    }
    .footer__Redes__1{
        color:white;
        text-shadow: black 0.1rem 0.1rem;
    }
    .Redes__2{
        width: 2rem;
    }
    /*PRODUCTOS*/

    .section-ladrillos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: auto;
    }
    .section-ladrillos__box{
        width: 17rem;
        height: 30rem;
        align-self: center;
        margin: 1rem;
    }
    .section-ladrillos__box__img{
        width: 17rem;
    }
    .section-ladrillos__box__title{
        text-align: center;
        width: 15rem;
        font-size: 1.2rem;
    }
    .section-ladrillos__box__text{
        font-size: 1.2rem;
        text-align: center;
        width: 15rem;
    }

    .section-ladrillos2{
        margin: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: auto;
    }
    .section-ladrillos2__box{
        width: 17rem;
        height: 30rem;
        align-self: center;
    }
    .section-ladrillos2__box__img{
        width: 17rem;
    }
    .section-ladrillos2__box__title{
        text-align: center;
        width: 15rem;
        font-size: 1.2rem;
    }
    .section-ladrillos2__box__text{
        font-size: 1.2rem;
        text-align: center;
        width: 15rem;
    }
    .titulo-productos{
        margin-top: 0.5rem;
        background-color: #ffc107;
        width: 100%;
        height: 8rem;
        padding: 1.5rem;
        font-size: 1.6rem;
    }
    .titulo-productos__1{
        text-align: center;
        color: white;
        text-shadow: black 0.1rem 0.2rem;
    }
    .footer1{
        margin-top: 3rem;
        background-color: #ffc107;
        width: 100%;
    }
    .footer__1{
        text-shadow: rgb(0, 0, 0) 0.1rem 0.1rem;
        color: rgb(253, 252, 252);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 1rem;
        margin-bottom: 0.1rem;
        font-size: 1.6rem;
    }
    .footer__2{
        font-size: 1.1rem;
        text-shadow: rgb(5, 5, 5) 0.1rem 0.1rem;
        color: rgb(253, 253, 253);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 1rem;
        margin-bottom: 0.1rem;
    }
    .redes{
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .redes__1{
        font-size: 1.6rem;
        color:white;
        text-shadow: black 0.1rem 0.1rem;
        margin-bottom: 0.5rem;
    }
    .redes__2{
        width: 2rem;
    }
    /*QUIENES SOMOS*/

    .quienessomos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titulo-quienessomos{
        text-align: center;
        color: rgb(158, 231, 84);
        font-family:'Rosario', sans-serif;
        font-size: 5rem;
        margin: 1rem;
    }
    .texto1{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.6rem;
        padding-top: 1rem;
        margin: 1rem;
    }
    .texto1__a{
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.5rem;
        line-height: 1.6rem;
        padding-top: 1rem;
        margin: 1rem;
    }
    .texto1__b{
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.5rem;
        line-height: 1.6rem;
        padding-top: 1rem;
        margin: 1rem;
    }
    .footer1{
        margin-top: 3rem;
        background-color: #ffc107;
        width: 100%;
    }
    .footer__1{
        text-shadow: rgb(0, 0, 0) 0.1rem 0.1rem;
        color: rgb(253, 252, 252);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 1rem;
        margin-bottom: 0.1rem;
        font-size: 1.6rem;
    }
    .footer__2{
        font-size: 1.1rem;
        text-shadow: rgb(5, 5, 5) 0.1rem 0.1rem;
        color: rgb(253, 253, 253);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 1rem;
        margin-bottom: 0.1rem;
    }
    .redes{
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .redes__1{
        font-size: 1.6rem;
        color:white;
        text-shadow: black 0.1rem 0.1rem;
        margin-bottom: 0.5rem;
    }
    .redes__2{
        width: 2rem;
    }
    /*QUE ES RED VERDE*/

    .que-Es-RedVerde{
        margin: 2rem;
    }
    .que-Es-RedVerde__Titulo{
        font-size: 2rem;
        text-align: center;
        margin: 1rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .que-Es-RedVerde__Texto{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.4rem;
        text-align: center;
        width: 25rem;
        margin-left: 9rem;
    }
    }
    .footer1{
        margin-top: 1rem;
        background-color: #ffc107;
        width: 100%;
    }
    .footer__1{
        text-shadow: rgb(0, 0, 0) 0.1rem 0.1rem;
        color: rgb(253, 252, 252);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 1rem;
        margin-bottom: 0.1rem;
        font-size: 1.6rem;
    }
    .footer__2{
        font-size: 1.1rem;
        text-shadow: rgb(5, 5, 5) 0.1rem 0.1rem;
        color: rgb(253, 253, 253);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 1rem;
        margin-bottom: 0.1rem;
    }
    .redes{
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .redes__1{
        font-size: 1.6rem;
        color:white;
        text-shadow: black 0.1rem 0.1rem;
        margin-bottom: 0.5rem;
    }
    .redes__2{
        width: 2rem;
    }
    /*RECICLAR CON NOSOTROS*/

    .titulo-reciclarconnosotros{
        color: white;
        width: auto;
        height: 10rem;
        padding: 1rem;
        text-align: center;
        text-shadow: black 0.1rem 0.2rem;
        font-size: 3rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color:#ffc107;
    }
    .footer1{
        margin-top: 3rem;
        background-color: #ffc107;
        width: 100%;
    }
    .footer__1{
        text-shadow: rgb(0, 0, 0) 0.1rem 0.1rem;
        color: rgb(253, 252, 252);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 1rem;
        margin-bottom: 0.1rem;
        font-size: 1.6rem;
    }
    .footer__2{
        font-size: 1.1rem;
        text-shadow: rgb(5, 5, 5) 0.1rem 0.1rem;
        color: rgb(253, 253, 253);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 1rem;
        margin-bottom: 0.1rem;
    }
    .redes{
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .redes__1{
        font-size: 1.6rem;
        color:white;
        text-shadow: black 0.1rem 0.1rem;
        margin-bottom: 0.5rem;
    }
    .redes__2{
        width: 2rem;
    }
/*DESKTOP*/
@media ( min-width:1200px){

    .section-beneficios{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 16rem;
        margin-top: 3rem;
    }
    .section-beneficios__box{
        width: 13rem;
        align-self: center;
        justify-content: center;
    }
    .section-beneficios__box__img{
        width: 13rem;
    }
    .section-beneficios__box__title{
        text-align: center;
    }
    .section-beneficios__box__text{
        text-align: center;
    }
    .section-beneficios2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 17rem;
        margin-top: 1rem;
    }
    .section-beneficios2__box{
        width: 13rem;
        align-self: center;
        justify-content: space-around;
    }
    .section-beneficios2__box__img{
        width: 12rem;
    }
    .section-beneficios2__box__title{
        text-align: center;
    }
    .section-beneficios2__box__text{
        text-align: center;
    }
    .atajo-RedVerde{
        display: flex;
        flex-direction: column;
    }
    .atajo-RedVerde__1{
        margin-top: 4rem;
        font-size: 1.6rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        transition: font-size 1s;
    }
    .atajo-RedVerde__1:hover{
        font-size: 2rem;
    }
    .atajo-RedVerde__2{
        margin-top: 1rem;
        text-align: center;
        font-size: 2rem;
        transition: font-size 1s;
    }
    .atajo-RedVerde__2:hover{
        font-size: 2.5rem;
    }
    .footer1{
        margin-top: 3rem;
        background-color: #ffc107;
        width: 100%;
    }
    .footer__1{
        text-shadow: rgb(0, 0, 0) 0.1rem 0.1rem;
        color: rgb(253, 252, 252);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 1rem;
        margin-bottom: 0.1rem;
    }
    .footer__2{
        text-shadow: rgb(5, 5, 5) 0.1rem 0.1rem;
        color: rgb(253, 253, 253);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 1rem;
        margin-bottom: 0.1rem;
    }
    .redes{
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .redes__1{
        color:white;
        text-shadow: black 0.1rem 0.1rem;
        margin-bottom: 0.5rem;
    }
    .redes__2{
        width: 2rem;
    }
    /*PRODUCTOS*/
    .titulo-productos{
        background-color: #ffc107;
    }
    .titulo-productos__1{
        text-align: center;
        color: white;
        text-shadow: black 0.1rem 0.2rem;
        padding: 1rem;
        font-size: 4rem;
    }

    .section-ladrillos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: auto;
        margin: 1rem;
    }
    .section-ladrillos__box{
        width: 17rem;
        height: 30rem;
        align-self: center;
    }
    .section-ladrillos__box__img{
        width: 17rem;
    }
    .section-ladrillos__box__title{
        text-align: center;
        width: 15rem;
        font-size: 1.2rem;
    }
    .section-ladrillos__box__text{
        font-size: 1.2rem;
        text-align: center;
        width: 15rem;
    }

    .section-ladrillos2{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: auto;
    }
    .section-ladrillos2__box{
        width: 17rem;
        height: 30rem;
        align-self: center;
    }
    .section-ladrillos2__box__img{
        width: 17rem;
    }
    .section-ladrillos2__box__title{
        text-align: center;
        width: 15rem;
        font-size: 1.2rem;
    }
    .section-ladrillos2__box__text{
        font-size: 1.2rem;
        text-align: center;
        width: 15rem;
    }
    .footer1{
        margin-top: 3rem;
        background-color: #ffc107;
        width: 100%;
    }
    .footer__1{
        text-shadow: rgb(0, 0, 0) 0.1rem 0.1rem;
        color: rgb(253, 252, 252);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 1rem;
        margin-bottom: 0.1rem;
    }
    .footer__2{
        text-shadow: rgb(5, 5, 5) 0.1rem 0.1rem;
        color: rgb(253, 253, 253);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 1rem;
        margin-bottom: 0.1rem;
    }
    .redes{
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .redes__1{
        color:white;
        text-shadow: black 0.1rem 0.1rem;
        margin-bottom: 0.5rem;
    }
    .redes__2{
        width: 2rem;
    }
    /*QUIENES SOMOS*/
    .quienessomos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titulo-quienessomos{
        text-align: center;
        color: rgb(158, 231, 84);
        font-family:'Rosario', sans-serif;
        font-size: 5rem;
        margin: 2rem;
        transition: color 1s;
    }
    .titulo-quienessomos:hover{
        color: #ffc107;
    }
    .texto1{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.6rem;
        padding-top: 1rem;
        margin: 2rem;
    }
    .texto1__a{
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.5rem;
        line-height: 1.6rem;
        padding-top: 1rem;
        margin: 2rem;
    }

    .footer1{
        margin-top: 3rem;
        background-color: #ffc107;
        width: 100%;
    }
    .footer__1{
        text-shadow: rgb(0, 0, 0) 0.1rem 0.1rem;
        color: rgb(253, 252, 252);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 1rem;
        margin-bottom: 0.1rem;
    }
    .footer__2{
        text-shadow: rgb(5, 5, 5) 0.1rem 0.1rem;
        color: rgb(253, 253, 253);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 1rem;
        margin-bottom: 0.1rem;
    }
    .redes{
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .redes__1{
        color:white;
        text-shadow: black 0.1rem 0.1rem;
        margin-bottom: 0.5rem;
    }
    .redes__2{
        width: 2rem;
    }
    /*QUE ES RED VERDE*/

    .section-Texto{
        display: flex;
        flex-direction: column;
    }
    .section-Texto__Titulo{
        font-size: 3rem;
        text-align: center;
        margin: 2rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        transition: font-size 1s;
    }
    .section-Texto__Titulo:hover{
        font-size: 3.5rem;
    }
    .section-Texto__Texto{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.6rem;
        text-align: center;
        margin-left: 20rem;
        width: 40rem;
    }

    .section-QueEsRV{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .queEsRV-Title{
        text-align: center;
        margin: 1rem;
    }
    .section-QueEsRV__box{
        align-self: center;
        width: 20rem;
        margin: 1rem;
    }
    .section-QueEsRV__box__img{
        width: 20rem;
    }
    .section-QueEsRV__box__title{
        width: 20rem;
        text-align: center;
    }
    .section-QueEsRV__box__text{
        width: 20rem;
        text-align: center;
    }

    .atajo-Productos{
        color: white;
        text-shadow: black 0.1rem 0.2rem;
        text-align: center;
        font-size: 1.6rem;
        height: 6rem;
        width: 15rem;
        padding: 0.8rem;
        margin: 3rem 35rem 3rem 35rem;
        transition: background 2s;
    }
    .footer1{
        margin-top: 3rem;
        background-color: #ffc107;
        width: 100%;
    }
    .footer__1{
        text-shadow: rgb(0, 0, 0) 0.1rem 0.1rem;
        color: rgb(253, 252, 252);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 1rem;
        margin-bottom: 0.1rem;
    }
    .footer__2{
        text-shadow: rgb(5, 5, 5) 0.1rem 0.1rem;
        color: rgb(253, 253, 253);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 1rem;
        margin-bottom: 0.1rem;
    }
    .redes{
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .redes__1{
        color:white;
        text-shadow: black 0.1rem 0.1rem;
        margin-bottom: 0.5rem;
    }
    .redes__2{
        width: 2rem;
    }
    /*RECICLAR CON NOSOTROS*/
    
    .titulo-reciclarconnosotros{
        color: white;
        width: auto;
        height: 12rem;
        padding: 2rem;
        text-align: center;
        text-shadow: black 0.1rem 0.2rem;
        font-size: 4rem;
        margin-top: 0.5rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color:#ffc107;
    }
    .foto-reciclando{
        width: 60rem;
        height: 30rem;
        margin-left: 12rem;
    }
    .footer1{
        margin-top: 3rem;
        background-color: #ffc107;
        width: 100%;
    }
    .footer__1{
        text-shadow: rgb(0, 0, 0) 0.1rem 0.1rem;
        color: rgb(253, 252, 252);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 1rem;
        margin-bottom: 0.1rem;
    }
    .footer__2{
        text-shadow: rgb(5, 5, 5) 0.1rem 0.1rem;
        color: rgb(253, 253, 253);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 1rem;
        margin-bottom: 0.1rem;
    }
    .redes{
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .redes__1{
        color:white;
        text-shadow: black 0.1rem 0.1rem;
        margin-bottom: 0.5rem;
    }
    .redes__2{
        width: 2rem;
    }

}












