* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*INICIO*/
.section-beneficios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-beneficios .section-beneficios__box {
  width: 13rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-beneficios .section-beneficios__box .section-beneficios__box__img {
  width: 12rem;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.section-beneficios .section-beneficios__box .section-beneficios__box__title {
  text-align: center;
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

.section-beneficios .section-beneficios__box .section-beneficios__box__text {
  text-align: center;
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

.section-beneficios2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-beneficios2 .section-beneficios2__box {
  width: 13rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-beneficios2 .section-beneficios2__box .section-beneficios2__box__img {
  width: 12rem;
}

.section-beneficios2 .section-beneficios2__box .section-beneficios2__box__title {
  text-align: center;
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

.section-beneficios2 .section-beneficios2__box .section-beneficios2__box__text {
  text-align: center;
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

.atajo-RedVerde {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.atajo-RedVerde .atajo-RedVerde__1 {
  margin-top: 4rem;
  font-size: 1rem;
  font-family: 'IBM Plex Sans Thai', sans-serif;
  text-align: center;
}

.atajo-RedVerde .atajo-RedVerde__2 {
  margin-top: 1rem;
  text-align: center;
  font-family: 'IBM Plex Sans Thai', sans-serif;
  font-size: 1.6rem;
}

/*PRODUCTOS*/
.titulo-productos {
  margin-top: 0.5rem;
  background-color: #ffc107;
  height: 5rem;
}

.titulo-productos .titulo-productos__1 {
  text-align: center;
  color: white;
  text-shadow: black 0.1rem 0.1rem;
  font-family: 'IBM Plex Sans Thai', sans-serif;
  padding: 1rem;
}

.section-ladrillos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: auto;
}

.section-ladrillos .section-ladrillos__box {
  width: 16rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-ladrillos .section-ladrillos__box .section-ladrillos__box__img {
  width: 15rem;
}

.section-ladrillos .section-ladrillos__box .section-ladrillos__box__title {
  text-align: center;
  width: 15rem;
  font-size: 1.2rem;
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

.section-ladrillos .section-ladrillos__box .section-ladrillos__box__text {
  font-size: 1.2rem;
  font-family: 'IBM Plex Sans Thai', sans-serif;
  text-align: center;
  width: 15rem;
}

.section-ladrillos2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: auto;
}

.section-ladrillos2 .section-ladrillos2__box {
  width: 16rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section-ladrillos2 .section-ladrillos2__box .section-ladrillos2__box__img {
  width: 15rem;
}

.section-ladrillos2 .section-ladrillos2__box .section-ladrillos2__box__title {
  text-align: center;
  font-family: 'IBM Plex Sans Thai', sans-serif;
  width: 15rem;
  font-size: 1.2rem;
}

.section-ladrillos2 .section-ladrillos2__box .section-ladrillos2__box__text {
  font-size: 1.2rem;
  font-family: 'IBM Plex Sans Thai', sans-serif;
  text-align: center;
  width: 15rem;
}

/*QUIENES SOMOS*/
.titulo-quienessomos {
  text-align: center;
  color: #9ee754;
  font-family: 'IBM Plex Sans Thai', sans-serif;
  font-size: 5rem;
  margin: 1rem;
}

/*RECICLAR CON NOSOTROS*/
.titulo-reciclarconnosotros {
  color: white;
  width: auto;
  height: 10rem;
  padding: 1rem;
  text-align: center;
  text-shadow: black 0.1rem 0.2rem;
  font-size: 3rem;
  margin-top: 0.5rem;
  font-family: 'IBM Plex Sans Thai', sans-serif;
  background-color: #ffc107;
}

/*CONTACTO*/
.contacto-Title {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #ffc107;
  height: 5rem;
}

.contacto-Title .contacto-Title__1 {
  text-align: center;
  font-family: 'IBM Plex Sans Thai', sans-serif;
  color: white;
  text-shadow: black 0.1rem 0.1rem;
  padding: 1rem;
}

.contacto-Box {
  margin: 1.6rem;
}

.contacto-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 1.6rem;
}
/*# sourceMappingURL=styles.css.map */

/*MEDIA QUERIES*/
@media (min-width: 768px){
  /*INICIO*/

  .section-beneficios{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 1rem;
  }
  .section-beneficios__box{
      width: 13rem;
      height: 20rem;
      align-self: center;
      justify-content: center;
  }
  .section-beneficios__box__img{
      width: 13rem;
  }
  .section-beneficios__box__title{
      text-align: center;
  }
  .section-beneficios__box__text{
      text-align: center;
  }
  .section-beneficios2{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 1rem;
  }
  .section-beneficios2__box{
      width: 13rem;
      height: 20rem;
      align-self: center;
      justify-content: space-around;
  }
  .section-beneficios2__box__img{
      width: 12rem;
  }
  .section-beneficios2__box__title{
      text-align: center;
  }
  .section-beneficios2__box__text{
      text-align: center;
  }
  .atajo-RedVerde{
      display: flex;
      flex-direction: column;
  }
  .atajo-RedVerde__1{
      margin-top: 4rem;
      font-size: 1rem;
      font-family: 'IBM Plex Sans Thai', sans-serif;
      text-align: center;
      font-size: 1.6rem;
  }
  .atajo-RedVerde__2{
      margin-top: 1rem;
      text-align: center;
      font-size: 2rem;
  }
  
  /*PRODUCTOS*/

  .section-ladrillos{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: auto;
  }
  .section-ladrillos__box{
      width: 17rem;
      height: 30rem;
      align-self: center;
      margin: 1rem;
  }
  .section-ladrillos__box__img{
      width: 17rem;
  }
  .section-ladrillos__box__title{
      text-align: center;
      width: 15rem;
      font-size: 1.2rem;
  }
  .section-ladrillos__box__text{
      font-size: 1.2rem;
      text-align: center;
      width: 15rem;
  }

  .section-ladrillos2{
      margin: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: auto;
  }
  .section-ladrillos2__box{
      width: 17rem;
      height: 30rem;
      align-self: center;
  }
  .section-ladrillos2__box__img{
      width: 17rem;
  }
  .section-ladrillos2__box__title{
      text-align: center;
      width: 15rem;
      font-size: 1.2rem;
  }
  .section-ladrillos2__box__text{
      font-size: 1.2rem;
      text-align: center;
      width: 15rem;
  }
  .titulo-productos{
      margin-top: 0.5rem;
      background-color: #ffc107;
      width: 100%;
      height: 8rem;
      padding: 1.5rem;
      font-size: 1.6rem;
  }
  .titulo-productos__1{
      text-align: center;
      color: white;
      text-shadow: black 0.1rem 0.2rem;
  }
  
  /*QUIENES SOMOS*/

  .titulo-quienessomos{
      text-align: center;
      color: rgb(158, 231, 84);
      font-family: 'IBM Plex Sans Thai', sans-serif;
      font-size: 5rem;
      margin: 1rem;
  }
    
  /*RECICLAR CON NOSOTROS*/

  .titulo-reciclarconnosotros{
      color: white;
      width: auto;
      height: 10rem;
      padding: 1rem;
      text-align: center;
      text-shadow: black 0.1rem 0.2rem;
      font-size: 3rem;
      font-family: 'IBM Plex Sans Thai', sans-serif;
      background-color:#ffc107;
  }
  
/*DESKTOP*/
@media ( min-width:1200px){

  .section-beneficios{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: 16rem;
      margin-top: 3rem;
  }
  .section-beneficios__box{
      width: 13rem;
      align-self: center;
      justify-content: center;
  }
  .section-beneficios__box__img{
      width: 13rem;
  }
  .section-beneficios__box__title{
      text-align: center;
  }
  .section-beneficios__box__text{
      text-align: center;
  }
  .section-beneficios2{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: 17rem;
      margin-top: 1rem;
  }
  .section-beneficios2__box{
      width: 13rem;
      align-self: center;
      justify-content: space-around;
  }
  .section-beneficios2__box__img{
      width: 12rem;
  }
  .section-beneficios2__box__title{
      text-align: center;
  }
  .section-beneficios2__box__text{
      text-align: center;
  }
  .atajo-RedVerde{
      display: flex;
      flex-direction: column;
  }
  .atajo-RedVerde__1{
      margin-top: 4rem;
      font-size: 1.6rem;
      font-family: 'IBM Plex Sans Thai', sans-serif;
      text-align: center;
      transition: font-size 1s;
  }
  .atajo-RedVerde__1:hover{
      font-size: 2rem;
  }
  .atajo-RedVerde__2{
      margin-top: 1rem;
      text-align: center;
      font-size: 2rem;
      transition: font-size 1s;
  }
  .atajo-RedVerde__2:hover{
      font-size: 2.5rem;
  }
  
  /*PRODUCTOS*/
  .titulo-productos{
      background-color: #ffc107;
  }
  .titulo-productos__1{
      text-align: center;
      color: white;
      text-shadow: black 0.1rem 0.2rem;
      padding: 1rem;
      font-size: 4rem;
  }

  .section-ladrillos{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: auto;
      margin: 1rem;
  }
  .section-ladrillos__box{
      width: 17rem;
      height: 30rem;
      align-self: center;
  }
  .section-ladrillos__box__img{
      width: 17rem;
  }
  .section-ladrillos__box__title{
      text-align: center;
      width: 15rem;
      font-size: 1.2rem;
  }
  .section-ladrillos__box__text{
      font-size: 1.2rem;
      text-align: center;
      width: 15rem;
  }

  .section-ladrillos2{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: auto;
  }
  .section-ladrillos2__box{
      width: 17rem;
      height: 30rem;
      align-self: center;
  }
  .section-ladrillos2__box__img{
      width: 17rem;
  }
  .section-ladrillos2__box__title{
      text-align: center;
      width: 15rem;
      font-size: 1.2rem;
  }
  .section-ladrillos2__box__text{
      font-size: 1.2rem;
      text-align: center;
      width: 15rem;
  }
  
  /*QUIENES SOMOS*/
  
  .titulo-quienessomos{
      text-align: center;
      color: rgb(158, 231, 84);
      font-family: 'IBM Plex Sans Thai', sans-serif;
      font-size: 5rem;
      margin: 2rem;
      transition: color 1s;
  }
  .titulo-quienessomos:hover{
      color: #ffc107;
  }
  
  /*RECICLAR CON NOSOTROS*/
  
  .titulo-reciclarconnosotros{
      color: white;
      width: auto;
      height: 12rem;
      padding: 2rem;
      text-align: center;
      text-shadow: black 0.1rem 0.2rem;
      font-size: 4rem;
      margin-top: 0.5rem;
      font-family: 'IBM Plex Sans Thai', sans-serif;
      background-color:#ffc107;
  }
}