/*CONTACTO*/

.contacto-Title{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #ffc107;
    height: 5rem;
    .contacto-Title__1{
        text-align: center;
        font-family: 'IBM Plex Sans Thai', sans-serif;
        color: white;
        text-shadow: black 0.1rem 0.1rem;
        padding: 1rem;
    }
}
.contacto-Box{
    margin: 1.6rem;
}
.contacto-2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1.6rem;
}

