/*QUIENES SOMOS*/

.container{
    .titulo-quienessomos{
        text-align: center;
        color: rgb(158, 231, 84);
        font-family:'IBM Plex Sans Thai', sans-serif;
        font-size: 5rem;
        margin: 1rem;
    }
    .texto1{
        font-family:'IBM Plex Sans Thai', sans-serif;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.6rem;
        padding-top: 1rem;
        margin: 1rem;
    }
    .texto1__a{
        text-align: center;
        font-family:'IBM Plex Sans Thai', sans-serif;
        font-size: 1.5rem;
        line-height: 1.6rem;
        padding-top: 1rem;
        margin: 1rem;
    }
    .texto1__b{
        text-align: center;
        font-family: 'IBM Plex Sans Thai', sans-serif;
        font-size: 1.5rem;
        line-height: 1.6rem;
        padding-top: 1rem;
        margin: 1rem;
    }
}