.footer{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    background-color: #ffc107;
    .footer__Box{
        margin: 1rem;
        .footer__Box__1{
            margin-bottom: 0.2rem;
            text-shadow: rgb(0, 0, 0) 0.1rem 0.1rem;
            color: rgb(253, 252, 252);
            font-family:'IBM Plex Sans Thai', sans-serif;
        }
        .footer__Box__2{
            margin-bottom: 0.2rem;
            text-shadow: rgb(5, 5, 5) 0.1rem 0.1rem;
            color: rgb(253, 253, 253);
            font-family:'IBM Plex Sans Thai', sans-serif;
        }
    }
    .footer__Redes{
        margin: 1rem;
        .footer__Redes__1{
            color:white;
            text-shadow: black 0.1rem 0.1rem;
            font-family: 'IBM Plex Sans Thai', sans-serif;
        }
        .Redes__2{
            width: 2rem;
        }
    }
}